<div class="row">
    <p class="col foot-text ">
            MOVIE NOW SHOWING COMING SOON THEATER  
    </p>
    <p class="col foot-text">
        SYSTEM IMAX 4DX SCREEN X
    </p>
    <p class="col foot-text">
        ACCOUNT PROFILE MY FAVORITE MOVIE
    </p>
    <p class="col">
        <img class="foot-img" src="/images/major.png" alt="major">
        <img class="foot-img" src="/images/paragon.jpg" alt="paragon">
        <img class="foot-img" src="/images/icon.jpg" alt="icon">
    </p>
</div>
<div class="line"></div>
</body>
</html>