<%- include("partials/header.ejs") %>

<div class="promotion-container">
    <div class="">
        <p class="promotion-heads">Promotion</p>
        <img class="promotion-img" src="images/Pro1.jpg">
        <img class="promotion-img" src="images/Pro2.jpg">
        <img class="promotion-img" src="images/Pro3.jpg">
        <img class="promotion-img" src="images/Pro4.jpg">
        <img class="promotion-img" src="images/Pro5.jpg">
        <img class="promotion-img" src="images/Pro6.jpg">
        <img class="promotion-img" src="images/Pro7.jpg">
        <img class="promotion-img" src="images/Pro8.jpg">
        <img class="promotion-img" src="images/Pro9.jpg">
    </div>
</div>

<%- include("partials/footer.ejs") %>